.homePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  top: 0;
  left: 0;
}
.firstPartHomeWithImage {
  margin-bottom: 2rem;
  width: 100vw;
  height: 90vh;
  background-image: url("../../images/firstImageHome.png");
  background-color: rgb(204, 126, 1);
  background-blend-mode: hard-light;
  background-size: cover;
  background-position-y: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.headerLogoDivInImage {
  font-family: "Alike", serif;
  margin-left: 1rem;
  color: white;
  display: none;
}
.ourGarantiesOfQuality {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.titleOfOneGaranty h1 {
  font-weight: 400;
  font-size: 3em;
}
.titleOfOneGaranty {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(211, 161, 42);
}
.our3shops {
  display: flex;
  width: 100vw;
  margin-left: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.our3shops :hover {
  cursor: pointer;
}
.our3shops h1 {
  border-radius: 10px;
  padding: 1%;
  font-weight: 400;
  color: black;
}
.ourShops {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.oneShop {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.oneShop h1 {
  font-size: 3em;
}
.iconStore {
  font-size: 1.8em;
  margin-right: 1rem;
}
.buttonOfOneGaranty {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.buttonOfOneGaranty h1 {
  font-weight: 400;
  font-size: 2em;
  color: rgb(211, 161, 42);
  padding: 2%;
  width: 100%;
}
.buttonOfOneGaranty :hover {
  cursor: pointer;
}
.teamPictureAndLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  box-sizing: border-box;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.teamPicture {
  background-image: url("../../images/TeamBackgound.jpg");
  width: 50%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.teamHead {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.teamHead h1 {
  font-size: 2.4em;
  margin-left: 0.5rem;
  color: rgb(211, 161, 42);
  font-weight: 400;
}
.teamLink {
  width: 50%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: flex-start;

  padding: 2%;
  box-sizing: border-box;
}
.listOfGaranties h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-left: 1rem;
}
.listOfGaranties {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.oneGarantyOfList {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.juiceImage {
  width: 100%;
  height: 80vh;

  background-repeat: no-repeat;
}
.juiceImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.juicesAndGaranties {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.juiceGaranties {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.juicesOneGaranty {
  width: 30vw;
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  border: 1px solid black;
  flex-direction: column;
  opacity: 0.9;
  padding: 2%;
  box-sizing: border-box;
}
.juicesOneGaranty h1 {
  font-size: 2em;
  color: rgb(211, 161, 42);
  line-height: 0;
  font-weight: 400;
}
.juicesOneGaranty h2 {
  font-weight: 300;
  line-height: 1em;
  font-size: 1.2em;
}
.matosPicture {
  background-image: url("../../images/matosImage.png");
  width: 50%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(204, 126, 1);
  background-blend-mode: hard-light;
}
.matosLink {
  width: 50%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 2%;
  box-sizing: border-box;
}
.titleMatos {
  color: rgb(211, 161, 42);
}
.contactImage {
  width: 100vw;
  height: 60vh;
}
.contactImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttonOfContact {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
  align-items: center;
}
.buttonOfContact :hover {
  cursor: pointer;
}
.buttonOfContact h1 {
  font-weight: 400;
  font-size: 2em;
  /* border: 1px solid rgb(211, 161, 42); */
  color: rgb(211, 161, 42);
  padding: 1%;
}
.communityPicture {
  background-image: url("../../images/vapero.jpg");
  width: 50%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(204, 126, 1);
  background-blend-mode: hard-light;
}
.teamMatosAndLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1400px) {
  .oneShop h1 {
    font-size: 2.5em;
  }
  .titleOfOneGaranty h1 {
    font-size: 2.5em;
  }
  .firstPartHomeWithImage {
    height: 80vh;
    background-position: top right;
  }
  .listOfGaranties h2 {
    font-size: 1.7em;
  }
}
@media (max-width: 1024px) {
  .firstPartHomeWithImage {
    height: 60vh;
    background-position: top right;
  }
  .juiceImage {
    height: 60vh;
  }

  .juicesOneGaranty h1 {
    font-size: 1.8em;
  }
  .juicesOneGaranty h2 {
    font-size: 1.1em;
  }
  .titleOfOneGaranty {
    margin-left: 3rem;
  }

  .iconStore {
    font-size: 1.2em;
    margin-right: 1rem;
  }

  .teamHead h1 {
    font-size: 2em;
  }
  .buttonOfOneGaranty h1 {
    font-size: 1.7em;
  }
  .listOfGaranties h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  .contactImage {
    height: 50vh;
  }
  .juiceImage {
    height: 50vh;
  }

  .juicesOneGaranty {
    padding: 0;
    height: 15vh;
  }
  .juicesOneGaranty h1 {
    font-size: 1.7em;
  }
  .juicesOneGaranty h2 {
    font-size: 1em;
  }
  .titleOfOneGaranty h1 {
    font-size: 2.2em;
  }
  .oneShop h1 {
    font-size: 2.2em;
  }
  .iconStore {
    font-size: 1.2em;
    margin-right: 1rem;
  }
  .teamHead h1 {
    font-size: 2em;
  }
  .buttonOfOneGaranty h1 {
    font-size: 1.8em;
  }
  .listOfGaranties h2 {
    font-size: 1.4em;
  }
}
@media (max-width: 650px) {
  .juicesOneGaranty {
    border: none;
  }
  .juicesOneGaranty h1 {
    font-size: 1.6em;
  }
  .oneShop h1 {
    font-size: 1.6em;
  }

  .buttonOfOneGaranty h1 {
    font-size: 1.4em;
  }
  .juicesAndGaranties {
    margin-top: 0rem;
  }
  .teamPictureAndLink {
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 0rem;
    margin-left: 0;
    margin-top: 1rem;
  }
  .teamPicture {
    width: 100%;
    height: 40vh;
  }
  .teamLink {
    width: 100%;
  }
  .communityPicture {
    width: 100%;
    height: 40vh;
  }
  .matosPicture {
    width: 100%;
    height: 40vh;
  }
  .matosLink {
    width: 100%;
    margin-bottom: 0;
  }

  .firstPartHomeWithImage {
    height: 50vh;
    background-position: top right;
  }
  .contactImage {
    height: 40vh;
  }
}
@media (max-width: 600px) {
  .communityPicture {
    height: 35vh;
  }
  .contactImage {
    height: 35vh;
  }
  .matosPicture {
    height: 35vh;
  }
  .juiceImage {
    height: 35vh;
  }

  .buttonOfOneGaranty h1 {
    font-size: 1.5em;
  }

  .juiceGaranties {
    margin-top: 1rem;
  }

  .our3shops {
    margin-left: 1rem;
  }

  .headerLogoDivInImage {
    display: flex;
  }

  .titleOfOneGaranty {
    justify-content: flex-start;
    margin: 1rem;
  }

  .iconStore {
    font-size: 1.6em;
    margin-right: 1rem;
  }
  .buttonOfContact {
    margin-left: 1rem;
  }
}
@media (max-width: 500px) {
  .titleOfOneGaranty h1 {
    font-size: 2em;
  }
  .communityPicture {
    height: 30vh;
  }
  .contactImage {
    height: 30vh;
  }
  .matosPicture {
    height: 30vh;
  }
  .juiceImage {
    height: 30vh;
  }
  .firstPartHomeWithImage {
    height: 40vh;
    background-position: top right;
  }
  .juicesOneGaranty h1 {
    font-size: 1.5em;
  }
  .juicesOneGaranty h2 {
    font-size: 0.9em;
  }

  .juicesOneGaranty {
    height: 20vh;
  }

  .iconStore {
    font-size: 1.3em;
    margin-right: 1rem;
  }
}
@media (max-width: 400px) {
  .listOfGaranties h2 {
    font-size: 1.4em;
  }
  .firstPartHomeWithImage {
    height: 30vh;
    background-position: top right;
  }
  .juicesOneGaranty h1 {
    font-size: 1.5em;
  }
  .juicesOneGaranty h2 {
    font-size: 0.9em;
  }
  .buttonOfContact h1 {
    font-size: 1.5em;
  }
  .teamHead h1 {
    font-size: 1.8em;
  }
  .buttonOfOneGaranty h1 {
    font-size: 1.3em;
  }

  .iconStore {
    font-size: 1.2em;
    margin-right: 1rem;
  }
}
